In [1]:
# 1. 导入库及读取数据
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import warnings

warnings.filterwarnings('ignore')
# 解决中文显示问题
plt.rcParams['font.sans-serif'] = ['SimHei']  # Windows系统黑体
plt.rcParams['axes.unicode_minus'] = False    # 修复负号显示

df = pd.read_csv("US-pumpkins.csv")  # 以pandas库的read_csv函数读取csv文件
df.head()  # 查看前5行数据

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
0,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,4/29/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
1,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,5/6/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
2,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
3,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
4,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/5/16,90.0,100.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

In [2]:
# 2. 数据基本信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 26 columns):
City Name          1757 non-null object
Type               45 non-null object
Package            1757 non-null object
Variety            1752 non-null object
Sub Variety        296 non-null object
Grade              0 non-null float64
Date               1757 non-null object
Low Price          1757 non-null float64
High Price         1757 non-null float64
Mostly Low         1654 non-null float64
Mostly High        1654 non-null float64
Origin             1754 non-null object
Origin District    131 non-null object
Item Size          1478 non-null object
Color              1141 non-null object
Environment        0 non-null float64
Unit of Sale       162 non-null object
Quality            0 non-null float64
Condition          0 non-null float64
Appearance         0 non-null float64
Storage            0 non-null float64
Crop               0 non-null float64
Repack             1757 non-null object
Trans Mode         0 non-null float64
Unnamed: 24        0 non-null float64
Unnamed: 25        103 non-null object
dtypes: float64(13), object(13)
memory usage: 357.0+ KB

In [3]:
# 3.缺失值检查
df.isnull().sum()

City Name             0
Type               1712
Package               0
Variety               5
Sub Variety        1461
Grade              1757
Date                  0
Low Price             0
High Price            0
Mostly Low          103
Mostly High         103
Origin                3
Origin District    1626
Item Size           279
Color               616
Environment        1757
Unit of Sale       1595
Quality            1757
Condition          1757
Appearance         1757
Storage            1757
Crop               1757
Repack                0
Trans Mode         1757
Unnamed: 24        1757
Unnamed: 25        1654
dtype: int64